/*
 * Google Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat|Open+Sans');

/*
 * Minimal CSS reset
 */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Loader CSS */
@keyframes loading {
    0% {
        width: 50pt;
        height: 50pt;
        margin-top: 0;
    }
    25% {
        height: 4pt;
        margin-top: 23pt;
    }
    50% {
        width: 4pt;
    }
    75% {
        width: 50pt;
    }
    100% {
        width: 50pt;
        height: 50pt;
        margin-top: 0;
    }
}

.flex {
    min-height: 60pt;
}

.loader {
    width: 50pt;
    height: 50pt;
    border-radius: 100%;
    border: #ffffff 4pt solid;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    animation: loading 1s infinite;
}

.load-text {
    padding-top: 15px;
    text-align: center;
    color:#ffffff;
}

/*
 * Hover CSS
 */
/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #254c79;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*
 * Page styles
 */
body {
    background-color: #254C79;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x:hidden;
}

#cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #254c79;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    z-index: 999;
}


#outer {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 33px;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#stack {
    margin-left: auto;
    margin-right: auto;
    max-width: 282px;
    position: relative;
}

.card {
    background: #ffffff;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    /*border-radius: 5px;*/
    z-index: 1;
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.5);
    transform-origin: 50% 50% 0px;
}

.card:nth-child(2) {
    top:-10px;
    left: -10px;
    z-index:-1;
    /*width:calc(100% - 12px);*/
}

.card:nth-child(3) {
    top:-20px;
    left:-20px;
    z-index: -2;
}

.card #avatar img {
    /*border-radius:5px 5px 0 0;*/
}

.card h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding:8px 0;
}

#info h2 small {
    display:block;
    color:#a1a1a1;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

#bio {
    text-align: justify;
    line-height: 1.3rem;
    padding:13px;
}

#connect-links {
    margin-top: 1.25rem;
}

#connect-links a {
    display:flex;
    text-decoration: none;
    color: #a1a1a1;
    margin-bottom:1.25rem;
    margin-left: 1rem;
}

#connect-links a:hover {
    color:#254C79;
}

#connect-links a h4 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

#connect-links h4 small {
    display:block;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
}

svg.icon {
    height:32px;
    width:32px;
    fill:#a1a1a1;
    margin-right:1rem;
}

#connect-links a:hover svg {
    fill:#254C79;
}

.buttons {
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    text-decoration: none;
    border:1px solid #000000;
    /*border-radius:3px;*/
    padding:10px;
    display:inline-block;
    color: #000000;
    text-transform: uppercase;
}